/* GENEL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #07010f;
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.navbar a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: #c77dff;
  text-shadow: 0 0 10px #7a00ff;
}

.logo {
  font-weight: 800;
  font-size: 1.5rem;
  color: #c77dff;
}

.nav-space { height: 80px; }

/* HERO */
.hero {
  position: relative;
  min-height: 100vh;
  background:
    radial-gradient(circle at top, rgba(122,0,255,0.35), transparent 60%),
    url("../images/wallpaper1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(7,1,15,0.65), rgba(7,1,15,0.95));
}

.hero-content {
  position: relative;
  max-width: 900px;
  padding: 60px;
  background: rgba(10,0,25,0.35);
  border-radius: 30px;
  backdrop-filter: blur(14px);
  border: 1px solid rgba(122,0,255,0.3);
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #c77dff;
  text-shadow: 0 0 20px #7a00ff;
}

.hero p { font-size: 1.2rem; margin-bottom: 30px; }

.stats { display: flex; justify-content: center; gap: 60px; margin-top: 50px; }
.stats h3 { font-size: 2rem; color: #c77dff; }

/* ABOUT */
.about { padding: 120px 60px; text-align: center; }

/* SERVICES */
.services { padding: 120px 60px; text-align: center; }
.section-title { font-size: 2.5rem; margin-bottom: 50px; color: #c77dff; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 280px;
  padding: 40px;
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  border: 1px solid rgba(122,0,255,0.3);
  backdrop-filter: blur(8px);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 0 40px rgba(122,0,255,0.8);
}

/* CTA */
.cta {
  padding: 140px 20px;
  text-align: center;
  background: linear-gradient(90deg, #7a00ff, #c77dff);
  color: black;
}

.btn-cta {
  display: inline-block;
  margin-top: 30px;
  padding: 18px 55px;
  border-radius: 60px;
  background: #0a0015;
  color: #c77dff;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #7a00ff;
  box-shadow: 0 0 15px rgba(122,0,255,0.7), 0 0 35px rgba(122,0,255,0.4);
  transition: 0.4s ease;
}

.btn-cta:hover {
  background: #7a00ff;
  color: #000;
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(199,125,255,1), 0 0 60px rgba(122,0,255,0.9);
}

/* FOOTER */
footer {
  padding: 40px;
  text-align: center;
  background: #05000a;
}